<p>Hello {{name}},</p>
<p>Thank you for signing up! To activate your account, please click the link:
  <a href='{{link}}' target='_blank'>Activate Account</a>
</p>
<p>This link will expire in one hour. If you did not sign up, please ignore this
  email.</p>
<p style='color: grey;'>This email was sent automatically by the system, please
  do not reply.</p>